.banner {
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

ion-card-header{
    background-color: red;
}

ion-card-title{
    color: white;
}

ion-avatar{
    width: 100%;
    height: 100%;
}