<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar votação privada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="fundo">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nome votação</ion-label>
          <ion-input [(ngModel)]="nomeVotacao"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Data inicio</ion-label>
          <ion-input [(ngModel)]="dataInicio"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Data fim</ion-label>
          <ion-input [(ngModel)]="dataFim"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label>Adicionar candidato</ion-label>
          <ion-buttons>
            <ion-button (click)="adicionarCandidatos(candidatosNome,candidatosNumero)">
              <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-card color="light">
          <ion-card-header style="background-color: red">
            <ion-card-title style="color: white">
              Candidato
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label> </ion-label>
            <hr>
            <ion-item>
              <ion-label>Nome do candidato:</ion-label>
              <ion-input [(ngModel)]="candidatosNome" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Numero do candidato:</ion-label>
              <ion-input [(ngModel)]="candidatosNumero" type="number"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <div id="candidatosCad"></div>
      </ion-col>
      
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Identificacao de quem pode votar</ion-label>
          <ion-input [(ngModel)]="IDEleitor"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" (click)="criarNovaVotacao(nomeVotacao, dataFim, dataInicio, IDEleitor, candidato1)">Criar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" color="danger" expand="block" href="home">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>