<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar votação privada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="fundo">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nome votação</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Data inicio</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Data fim</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label>Candidatos</ion-label>
          <ion-select [(ngModel)]="qtdeSelecionada" id="candidatosSelect" placeholder="Quantidade">
            <ion-select-option *ngFor="let qtde of qtdeCandidatos" value="{{qtde.id}}">{{qtde.qtde}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ng-template [ngIf]="checarQtde(qtdeSelecionada)">
          <ion-card>            
            <ion-item>
              <ion-label position="floating">Nome do candidato</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero do candidato</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-card>
        </ng-template>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Identificacao de quem pode votar</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" href="home">Criar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" color="danger" expand="block" href="home">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>