<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Data de inicio: {{data.inicio | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
      <ion-card-subtitle>Data de fim: {{data.fim | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
      <ion-card-subtitle>Está e uma votação muito interessante</ion-card-subtitle>
    </ion-card-header>

    <ion-card *ngFor="let candidato of candidatos let i = index">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-avatar>
                <img src="assets/img/{{candidato.caminhoImg}}" />
              </ion-avatar>
            </ion-col>
            <ion-col size="8" align-self-center>
              <ion-card-subtitle><b>{{candidato.nome}}</b></ion-card-subtitle>
              <small>Nº: {{candidato.NumCandidato}}</small>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button (click)="gravarVoto(candidatos,i)" expand="block" fill="outline" color="success">Votar</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>