<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Principal
    </ion-title>
<!--     <ion-buttons slot="end">
      <ion-button href="login">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row no-padding class="banner">
      <ion-col text-center><b>Privadas</b></ion-col>
    </ion-row>
  </ion-card>
  <ion-slides [options]="sliderConfig" scrollbar="true">
    <ion-slide *ngFor="let eleicaoPr of listaPr | async let idEleicao = index">
      <ion-card color="light" (click)="abrirEleicao(eleicaoPr)">
        <ion-card-header>
          <ion-card-title>{{eleicaoPr.nome}}</ion-card-title>
          <ion-card-subtitle>TRF</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Data de inicio: {{eleicaoPr.data.inicio | date: 'dd/MM/yyyy'}} <br>
          Data de fim: {{eleicaoPr.data.fim | date: 'dd/MM/yyyy'}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-row no-padding class="banner">
      <ion-col text-center><b>Pública</b></ion-col>
    </ion-row>
  </ion-card>
  <ion-slides [options]="sliderConfig" scrollbar="true">
    <ion-slide *ngFor="let eleicaoPu of listaPu | async let idEleicao = index">

      <ion-card color="light" (click)="abrirEleicao(eleicaoPu)">
        <ion-card-header>
          <ion-card-title>{{eleicaoPu.nome}}</ion-card-title>
          <ion-card-subtitle>TRF</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Data de inicio: {{eleicaoPu.data.inicio | date: 'dd/MM/yyyy'}} <br>
          Data de fim: {{eleicaoPu.data.fim | date: 'dd/MM/yyyy'}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="criarVotacaoNav()"  color="danger">
      <ion-icon name="add" style="color: white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>